@model List<Person>

<h1>Welcome to reg</h1>
<a asp-action="Create">Add person</a>



@foreach (Person person in Model)
{

    <div class="card mt-5 mb-4 mx-auto">
        <div class="card-header bg-white text-dark">
            <table class=" font-weight-bold mt-3 align-items-lg-stretch">
                <thead>
                    <tr>
                        <th class="col-auto"> Name</th>

                        <th class="col-auto"> Country</th>

                        <th class="col-auto"> City</th>
                        <th class="col-auto"> *</th>
                    </tr>
                </thead>
            </table>

        </div>
        <div className="card-body">

            <p class="card-text mt-3"><partial name="_PeopleDisplay" model="person" /></p>

        </div>
    </div>
}

