@model List<Country>
@{
    ViewData["Title"] = "Index Countries";
}


<h1>Country List</h1>
<a asp-action="Create" class="btn-dark mt-4 mb-4">Add new Country</a>
<table>
    <thead>
        <tr>
            <th>.</th>
            <th>Country</th>
            <th></th>
        </tr>
    </thead>
</table>
<tbody>
    @foreach (Country country in Model)
    {
        <tr>
            <td>@country.Id</td>
            <td>@country.CountryName</td>
            <td>
                <a asp-action="Edit" asp-controller="Country" asp-route-id="@country.Id" class="mr-4 text-warning">Edit</a>
                <a asp-action="Delete" asp-controller="Country" asp-route-id="@country.Id" class="mr-4 text-dark">Delete</a>
            </td>
        </tr>
    }
</tbody>
