@model List<Person>

<div class="row font-weight-bold mt-3">
    <div class="col-4">Name</div>
    <div class="col-4">City</div>
    <div class="col-4">Id</div>
</div>

@foreach (Person person in Model)
{
    <partial name="_SpaPeopleRow" model="person" />
}